.vagrant
*.swp
installation/modules/intershop/files/deb/*.deb
installation/modules/intershop/files/*.jar
installation/modules/intershop/files/license.xml
installation/modules/intershop/files/deb/optional/*.deb
installation/modules/oracle/files/*.zip
installation/iso/*.iso
